<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Travel Forum</title>

</head>
<body>

    <header> <!-- Defining the header section of the page with the appropriate tag -->

    <h1>Welcome to the Travel Forum</h1>
    <h3>To continue to the Travel page please sign up</h3>

    </header>

  <form action="/usernames/create" method="POST">
    <label>
      Your Username:
      <input type="text" name="name" />
    </label>
    <button>Sign Up</button>
  </form>

</body>
</html>