<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Create New Topic</title>
</head>
<body>

    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/topics">Topics</a></li>
      <!-- <li><a href="#">Worst Poems</a></li> -->
    </ul>

    <h2>Create New Topic</h2>

  <form action="/topics/new" method="POST">
    <label>
      Topic Title:
      <input type="text" name="title" />
    </label>
    <label>
      Description:
      <input type="text" name="description" />
    </label>
    <label>
      Your username:
      <input type="text" name="name" />
    </label>
    <button>Submit</button>
  </form>

</body>
</html>