<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Topic Title</title>
</head>
<body>

    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/topics">Topics</a></li>
      <!-- <li><a href="#">Worst Poems</a></li> -->
    </ul>

  <h2>{{title}}</h2>
 <!--  <p>{{description}}</p> -->
<!--   <form method="POST" action="/topics/{{id}}?_method=PUT">
    <input type="text" name="description" value="{{description}}">


    <button type="submit">Update</button>
  </form> -->

 <!--  <form method="POST" action="/topics/{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
  </form>  -->

  <form method="POST" action="/topics/{{id}}?_method=PUT">

    <p>{{description}}</p>
    <!-- <p>{{comment}}</p> -->
    
    <input type="button" name="vote" value="{{vote}}">
    <button type="submit">Vote</button>
  </form><br />


  <form method="POST" action="/topics/{{id}}/comment">
    <label>
      Leave a comment: <br />
      <!-- <textarea name="comment" value="{{comment}}"></textarea><br /> -->
      <input type="text" name="comment">
      <button type="submit">Submit</button><br />
    </label>
    {{#comments}}
     <li>{{comment}}</li><br />
    {{/comments}}

  </form>


  <!--<form method="POST" action="/topics/{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
  </form>-->

  
</body>
</html>