<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Topic Title</title>
</head>
<body>

    <ul>
      <li><button><a href="/">Sign Up</a></button></li>
      <li><button><a href="/topics">Home</a></button></li>
      <!-- <li><a href="#">Worst Poems</a></li> -->
    </ul>

  <!-- <h2>{{title}}</h2> -->

 <!--  <form method="POST" action="/topics/{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
  </form>  -->
<form method="POST" action="/topics/{{id}}?_method=PUT">
<table width="800" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#CCCCCC">
<tr>
<td><table width="100%" border="0" cellpadding="3" cellspacing="1" bordercolor="1" bgcolor="#FFFFFF">
<tr>
<td align="center" bgcolor="#F8F7F1"><strong>{{title}}</strong></td>
</tr>

<tr>
<td bgcolor="#F8F7F1">{{description}}</td>
</tr>

<!-- <tr>

<td input type="text" id="number" value="0"/>
   <input type="button" onclick="incrementValue()" value="Increment Value" />
</tr> -->
<td align="right" bgcolor="#F8F7F1"><input type="button" name="vote" value="{{vote}}">
    <button type="submit">Vote</button></td>
</tr> 
<!-- <tr>
<td align="right" bgcolor="#F8F7F1"><input type="text" id="number" name="vote" value="{{vote}}" /><button type="submit" onclick="incrementValue()"/>Vote</button></td>
</tr> -->

<!-- <tr>
<td bgcolor="#F8F7F1"><strong>Date/time : </strong><? echo $rows['datetime']; ?></td>
</tr> -->
</table></td>
</tr>
</table>
<BR>
</form>

<!-- ---------------------------------------------------------------------- -->

<table width="800" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#CCCCCC">
<tr>
<td><table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
<form method="POST" action="/topics/{{id}}/comment">
  {{#comments}}
<!-- <tr>
<td width="18%" bgcolor="#F8F7F1"><strong>Name</strong></td>
<td width="5%" bgcolor="#F8F7F1">:</td>
<td width="77%" bgcolor="#F8F7F1">{{user}}</td>
</tr> -->
<tr>
<td bgcolor="#F8F7F1" width="10%"><strong>Comments</strong></td>
<td bgcolor="#F8F7F1">:</td>
<td bgcolor="#F8F7F1">{{comment}}</td>
</tr>
<tr>
<td bgcolor="#F8F7F1"><strong>Location</strong></td>
<td bgcolor="#F8F7F1">:</td>
<td bgcolor="#F8F7F1">{{location}}</td>
</tr>
{{/comments}}
</form>
</table></td>
</tr>
</table><br />

<!-- ------------------------------------------------------------------------ -->

<BR>
<table width="800" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#CCCCCC">
<tr>
<form method="POST" action="/topics/{{id}}/comment">
<td>
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
<!-- <tr>
<td width="18%"><strong>Name</strong></td>
<td width="3%">:</td>
<td width="79%"><input name="name" type="text" size="45"></td>
</tr> -->
<tr>
<td valign="top"><strong>Comment</strong></td>
<td valign="top">:</td>
<td><textarea name="comment" cols="110" rows="3"></textarea></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input name="id" type="hidden" value=""></td>
<td align="right"><input type="submit" name="Submit" value="Submit">  <input type="reset" name="Reset" value="Reset"></td>  
</tr>
</table>
</td>
</form>
</tr>
</table>

<!-- -------------------------------------------------------------------------- -->

<!--   <form method="POST" action="/topics/{{id}}?_method=PUT">

    <p>{{description}}</p>
    
    <input type="button" name="vote" value="{{vote}}">
    <button type="submit">Vote</button>
  </form><br /> -->


  <!-- <form method="POST" action="/topics/{{id}}/comment">
    <label>
      <!-- Leave a comment: <br /> -->
<!--       <textarea name="comment" value="{{comment}}"></textarea><br />
      <input type="text" name="comment">
      <button type="submit">Submit</button><br />
    </label><br />
    {{#comments}}
     <li>{{comment}}</li> -->
     <!-- <li>{{user}}</li> -->
<!--      <li>{{location}}</li><br />
    {{/comments}}

  </form>  -->


  <!-- <form method="POST" action="/topics/{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
  </form> -->

  
</body>
</html>