body {
    background-color: lightblue;
    /*background: url()*/
}

h1, h2 {
    color: navy;
    text-align: center; 
}


a:link {
    text-decoration: none;
}

ul {
  padding: 10px; 
  /*background: black;*/
}

li {
  display: inline; 
  padding: 0px 10px 0px 10px;
  
}

